.Simpsons {
    max-width: 1920px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted black;
}

.Simpsons .character {
    width: 600px;
    display: flex;
    overflow: hidden;
    background: rgba(238, 241, 190, 0.78) none repeat scroll 0 0;
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

.Simpsons .character-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Simpsons .character-right {
    display: flex;
    flex-direction: column;
}

.Simpsons .character-name {
    text-align: center;
}

.Simpsons .character-age {
    text-align: center;
    font-style: italic;
}

.Simpsons .character-info {
    padding: 30px;
    box-sizing: border-box;
    text-align: justify;
    text-indent: 1.5rem;
}

.Simpsons .character-photo {
    display: block;
    width: 150px;
    margin: 20px;
}
